{#
/**
 * @file
 * Default template for the JotForms embedded formatter.
 *
 *   - hubspot_link: id provided by hubspot account.
 *   - form_id: id provided by hubspot form.
 *
 * @ingroup themeable
 */
#}
<div{{attributes}}>
  <div id="load-hubspot">
  </div>
  <script id="hubspot-script" charset="utf-8" type="text/javascript" data-src="//js.hsforms.net/forms/shell.js"></script>
  <script>
    // Query DOM Elements
    const script = document.getElementById('hubspot-script');
    const footer = document.getElementById('load-hubspot');

    // Add load event listener to script
    script.addEventListener('load', function() {
      // run when script is loaded
      console.log('HubSpot library is loaded');

      // Create hubspot form
      hbspt.forms.create({
        region: "na1",
        portalId: "{{- hubspot_link -}}",
        formId: "{{- form_id -}}"
      });
    });

    // Create intersection observer
    const observer = new IntersectionObserver((entries) => {
      entries.forEach(entry => {
        // check if entry (footer) is intersecting
        if (entry.isIntersecting) {
          // footer is in viewport
          console.log('Footer is detected');

          // add src attribute to script (this will load the external script)
          script.src = script.dataset.src;

          // disconnect observer because we don't need it anymore
          observer.disconnect();
        }
      })
    })

    // Observe footer element
    observer.observe(footer);
  </script>
</div>
